<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#assign title="公告"/>
    <#include "/meta.html" />
    <!--coolie-->
    <link href="/static/css/forum/forumHome.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/forum/forumHome.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="forum_content contentFull980">
    <div class="forum_panel bulletin_panel">
        <div class="title">公告</div>
        <div class="forum_list">
            <ul></ul>
        </div>
    </div>
</div>
<#include "/footer.html" />
</body>
</html>