@charset "UTF-8";
.evaluation-info {
    overflow: hidden;
    width: 50%;
    margin-left: 130px;
    margin-bottom: 10px;
}

.evaluation-info .evaluation-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.evaluation-info .evaluation-subtitle {
    text-align: center;
    height: 35px;
    line-height: 35px;
}

.evaluation-info .print-div {
    float: right;
    margin-top: -40px;
    margin-right: 5px;
}

.evaluation-info .evaluation-table {
    margin-left: auto;
    margin-right: auto;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #666;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.evaluation-info .evaluation-table td {
    border-right: 1px #666 solid;
    border-top: 1px #666 solid;
    text-align: center;
    height: 25px;
    line-height: 25px;
    min-width: 30px;
}

.evaluation-info .evaluation-table td.subject {
    max-width: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.evaluation-info .evaluation-table td.evaluation-rule {
    text-align: left;
}

.evaluation-info select {
    width: 66px;
    margin-left: 5px;
    margin-right: 5px;
}

.evaluation-info .evaluation-info-submit {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}