@charset "UTF-8";
.weekly-journal-panel {
    margin-left: 10px;
    width: 900px;
}

.weekly-journal-panel .journal-title {
    overflow: hidden;
}

.weekly-journal-panel .journal-title .print-div {
    float: right;
    margin-right: 20px;
}

.weekly-journal-panel .journal-title .journal-title-table {
    float: left;
}

.weekly-journal-panel .journal-title .journal-title-table td {
    height: 25px;
}

.weekly-journal-panel .journal-title .journal-title-table .tips {
    text-align: right;
}

.weekly-journal-panel .journal-title .journal-title-table ._content {
    padding-right: 20px;
}

.weekly-journal-panel .weekly-journal-info-content .attend_table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 320px;
}

.weekly-journal-panel .weekly-journal-info-content .journal-tips {
    line-height: 28px;
    margin-top: 5px;
}

.weekly-journal-panel .weekly-journal-info-content .attend_table th {
    height: 20px;
}

.weekly-journal-panel .weekly-journal-info-content .attend_table td {
    border-right: 1px #ccc solid;
    border-top: 1px #ccc solid;
    text-align: center;
    height: 20px;
}

.weekly-journal-panel .weekly-journal-info-content .journal-content {
    border: 1px solid #aaa;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 250px;
    margin-bottom: 5px;
}

.update-weekly-journal-btn {
    margin: 15px auto 8px auto;
    width: 243px;
}