@charset "UTF-8";
.footer ul, .footer li, .footer a, .footer p {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0

}

.footer .friendly_link {
    overflow: hidden;
    background-color: #EEEEEE;
    border: 1px solid #cacaca;
}

.footer .friendly_link ul {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.footer .friendly_link li {
    float: left;
    line-height: 53px;
    padding: 0 12px 0 12px;
    overflow: hidden;
}

.footer .friendly_link a {
    color: #333;
    font-size: 12px;
}

.footer .my_info {
    background-color: #1c4f9e;
    color: #899cc6;
    overflow: hidden;
    font-size: 12px;
    padding-top: 20px;
}

.footer .my_info .footer_log {
    /*margin: 0;*/
    float: left;
    overflow: hidden;
}

.footer .my_info .footer_log a {
    overflow: hidden;
    background: url("/static/images/footerLogo.png") repeat-x;
    width: 171px;
    height: 34px;
    display: block;
}

.footer .my_info .contact {
    overflow: hidden;
    float: left;
}

.footer .my_info .contact ul {
    float: left;
    padding: 0 30px 0 20px;
    line-height: 20px;
}

.footer .my_info .contact ul strong {
    color: #b4cbff;
}

.footer .my_info .copy_right {
    overflow: hidden;
    float: left;
    margin: 17px 0 0 22px;
}

.footer .my_info .copy_right p {
    line-height: 25px;
}