@charset "UTF-8";

.menu {
    margin-left: 120px;
    float: left;
    overflow: hidden;
}

.menu .info {
    float: left;
    margin-top: 30px;
}

.menu .info .title {
    color: #000;
    font-size: 32px;
}

.menu .info .menu_list {
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 30px;
}

.menu .info .menu_list li {
    height: 25px;
    margin-bottom: 5px;
}

.menu .info .menu_list a {
    overflow: hidden;
    display: inline-block;
    width: 160px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
}

.menu .info .menu_list .no_current {
    border: 1px solid #cacaca;
    color: #000;
}

.menu .info .menu_list .current {
    background-color: #3f55a0;
    border: 1px solid #3f55a0;
    background-image: url("/static/images/menu/arrow.png");
    background-repeat: no-repeat;
    background-position-x: 155px;
    background-position-y: 8px;
    color: #FFFFFF;
}

.menu .split {
    float: left;
    margin-top: 10px;
}