@charset "UTF-8";
.myInfo table {
    border-collapse: collapse;
}

.myInfo table td {
    height: 20px;
    width: 180px;
}

.myInfo table .title {
    text-align: right;
    width: 110px;
}

.myInfo .update_div {
    width: 243px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}