@charset "UTF-8";
header .header ul li.center {
    letter-spacing: 0px !important;
}

.examine_list_panel {
    overflow: hidden;
    margin-bottom: 3rem;
}

.examine_list_panel .examine_list .examine_node {
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
    background-color: #FFF;
}

.examine_list_panel .examine_list .examine_node .examine_node_ul {
    overflow: hidden;
    height: 2.5rem;
    line-height: 2.5rem;
}

.examine_list_panel .examine_list .examine_node .examine_node_ul li {
    overflow: hidden;
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: 13px;
}

.examine_list_panel .examine_list .examine_node .examine_node_ul li i {
    font-style: normal;
    padding-left: 5px;
    color: #666;
}
