target/
.idea/
*.iml
*.ipr
*.iws
*.log
.classpath
.project
maven-eclipse.xml
.settings/
.externalToolBuilders
logs/
db.sh
.DS_Store
*.war
internship-static/pro/
internship-web/src/main/webapp/static/
internship-web/src/main/webapp/WEB-INF/views/
