<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="登录-实习管理系统-西南财经大学法学院-西南财经大学"/>
    <meta name="description" content="系统登录"/>
    <title>学生日志列表-西南财经大学法学院实习管理系统</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/css/student/journal/diaryJournalList.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/student/journal/diaryJournalList.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content">
    <#include "/menu.html" />
    <div class="right_content">
        <div class="crumb">
            <span class="">${menuTitle} 日志列表</span>
            <hr/>
        </div>
        <div class="diary-journal-info">
            <div class="search">
                <form id="search_form">
                    <input type="hidden" name="studentId" value="${(internshipNotes.studentId)!''}"/>
                    <table>
                        <tr>
                            <td>学生姓名:</td>
                            <td><input name="studentName" type="text"
                                       value="${(internshipNotes.studentName)!''}"/></td>
                            <td>日志日期:</td>
                            <td><input name="beginDayStr" type="text" readonly="readonly"/></td>
                        </tr>
                    </table>
                </form>
                <div class="search_btn">
                    <a id="search_btn" class="btn45" href="javascript:void(0)">搜索</a>
                    <#if logInfo.student>
                        <a class="btn45 add-diary-journal-btn" href="/student/diaryJournal/write.htm">写日志</a>
                    </#if>
                </div>
            </div>
            <table class="content_table">
                <thead>
                <tr>
                    <th>日志日期</th>
                    <th>学生姓名</th>
                    <th>学号</th>
                    <th>是否考评</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="u_data"></tbody>
            </table>
            <div class="page_list"></div>
        </div>
    </div>
</div>
<#include "/footer.html" />
<input id="menu_id" value="diary" style="display: none"/>
<input id="is_teacher" value="${logInfo.teacher}" style="display: none"/>
</body>
</html>