@charset "UTF-8";
.add-teacher-panel {
    overflow: hidden;
    margin-left: 185px;
    margin-top: 10px;
}

.add-teacher-panel .tips {
    float: left;
}

.add-teacher-panel .tips li {
    padding-top: 15px;
    height: 27px;
    line-height: 27px;
    text-align: right;
}

.add-teacher-panel .value li {
    padding-top: 15px;
    height: 27px;
    line-height: 27px;
}

.add-teacher-panel .value li input {
    font-size: 12px;
}

.add-teacher-panel .add_btn_div {
    margin-top: 10px;
    margin-bottom: 8px;
}