@charset "UTF-8";
.teacher_info .search_btn .add {
    letter-spacing: 0px;
    width: 85px;
}

.teacher_info .search .university_select select {
    display: none;
}

.teacher_type_select_panel {
    display: none;
}