@charset "UTF-8";
header .header ul li.center {
    letter-spacing: 0px !important;
}

.student_application_panel {
    overflow: hidden;
}

.student_application_panel .student_info_panel {
    margin: auto;
    line-height: 2.5rem;
    width: 88%;
}

.student_application_panel .student_info_panel ._tips {
    width: 5rem;
    text-align: right;
}

.student_application_panel .student_info_panel .university select {
    display: none;
}

.student_application_panel .student_info_panel select {
    width: 4.5rem;
}

.student_application_panel .submit_panel {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.student_application_panel .submit_panel .button200 {
    width: 100%;
    height: 2.5rem;
}