<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#assign title="首页"/>
    <#include "/webApp/meta.html" />
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/webApp/teacher/teacherMain.js">
    </script>
    <!--coolie-->
    <link href="/static/css/webApp/teacher/teacherMain.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
</head>
<body>
<#include "/webApp/header.html" />
<div class="teacher_main_panel">
    <ul class="teacher_main_list">
        <li class="_node">
            <a href="/webApp/student/attend/list.htm?returnUrl=${locationURL}">
                学生签到
                <i class="_icon">&gt;</i>
            </a>
        </li>
        <li class="_node">
            <a href="/webApp/student/leave/list.htm?returnUrl=${locationURL}">
                学生请假<i class="_icon">&gt;</i>
            </a>
        </li>
        <li class="_node">
            <a href="/webApp/student/diaryJournal/list.htm?returnUrl=${locationURL}">
                学生实习日记
                <i class="_icon">&gt;</i>
            </a>
        </li>
        <li class="_node _last">
            <a href="/webApp/student/weeklyJournal/list.htm?returnUrl=${locationURL}">
                学生实习周记
                <i class="_icon">&gt;</i>
            </a>
        </li>
    </ul>
    <#if isLeader>
        <ul class="teacher_main_list">
            <li class="_node ">
                <a href="/webApp/student/list.htm?returnUrl=${locationURL}">
                    学生基础信息
                    <i class="_icon">&gt;</i>
                </a>
            </li>
            <li class="_node _last">
                <a href="/webApp/teacher/list.htm?returnUrl=${locationURL}">
                    老师列表
                    <i class="_icon">&gt;</i>
                </a>
            </li>
        </ul>
    </#if>
</div>
<#include "/webApp/footer.html" />
<input id="show_header_left" type="hidden" value="false"/>
<input id="footerMenuId" type="hidden" value="home"/>
</body>
</html>