<footer>
    <#if logInfo??>
        <#if logInfo.isStudent()>
            <#assign roleClassName="student"/>
        </#if>
        <#if logInfo.isTutor()>
            <#assign roleClassName="tutor"/>
        </#if>
        <#if logInfo.isTeacher()>
            <#assign roleClassName="teacher"/>
        </#if>
        <#if logInfo.isSysadmin()>
            <#assign roleClassName="sysadmin"/>
        </#if>
        <ul class="footer_menu ${roleClassName}">
            <#if logInfo.isStudent()>
                <li class="_node home">
                    <a href="/webApp/student/main.htm">
                        <i></i>
                        <p>首页</p>
                    </a>
                </li>
                <li class="_node bulletin">
                    <a href="/webApp/bulletin/list.htm">
                        <i></i>
                        <p>公告</p>
                    </a>
                </li>
                <li class="_node me">
                    <a href="/webApp/student/studentInfo.htm">
                        <i></i>
                        <p>我</p>
                    </a>
                </li>
            </#if>
            <#if logInfo.isTutor()>
                <li class="_node home">
                    <a href="/webApp/tutor/main.htm">
                        <i></i>
                        <p>首页</p>
                    </a>
                </li>
                <li class="_node student">
                    <a href="/webApp/student/internship/list.htm">
                        <i></i>
                        <p>学生</p>
                    </a>
                </li>
                <li class="_node tones">
                    <a href="/webApp/examine/list.htm">
                        <i></i>
                        <p>消息</p>
                    </a>
                </li>
                <li class="_node bulletin">
                    <a href="/webApp/bulletin/list.htm">
                        <i></i>
                        <p>公告</p>
                    </a>
                </li>
                <li class="_node me">
                    <a href="/webApp/tutor/info.htm">
                        <i></i>
                        <p>我</p>
                    </a>
                </li>
            </#if>
            <#if logInfo.isTeacher()>
                <li class="_node home">
                    <a href="/webApp/teacher/main.htm">
                        <i></i>
                        <p>首页</p>
                    </a>
                </li>
                <li class="_node student">
                    <a href="/webApp/student/internship/list.htm">
                        <i></i>
                        <p>学生</p>
                    </a>
                </li>
                <li class="_node tones">
                    <a href="/webApp/examine/list.htm">
                        <i></i>
                        <p>消息</p>
                    </a>
                </li>
                <li class="_node bulletin">
                    <a href="/webApp/bulletin/list.htm">
                        <i></i>
                        <p>公告</p>
                    </a>
                </li>
                <li class="_node me">
                    <a href="/webApp/teacher/info.htm">
                        <i></i>
                        <p>我</p>
                    </a>
                </li>
            </#if>
            <#if logInfo.isSysadmin()>
                <li class="_node home">
                    <a href="/webApp/sysadmin/main.htm">
                        <i></i>
                        <p>首页</p>
                    </a>
                </li>
                <li class="_node student">
                    <a href="/webApp/student/list.htm?showHeaderLeft=false">
                        <i></i>
                        <p>学生</p>
                    </a>
                </li>
                <li class="_node bulletin">
                    <a href="/webApp/bulletin/list.htm">
                        <i></i>
                        <p>公告</p>
                    </a>
                </li>
                <li class="_node me">
                    <a href="/webApp/teacher/info.htm">
                        <i></i>
                        <p>我</p>
                    </a>
                </li>
            </#if>
        </ul>
    </#if>
</footer>