<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="实习管理系统-西南财经大学法学院-西南财经大学"/>
    <meta name="description" content="实习管理系统-西南财经大学法学院-西南财经大学"/>
    <title>导师发放实习评价表-西南财经大学法学院实习管理系统</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/js/lib/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="/static/css/student/assessment/sendAssessment.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/student/assessment/sendAssessment.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content">
    <#include "/menu.html" />
    <div class="right_content">
        <div class="crumb">
            <span class="">
                ${menuTitle}
                <a href="/student/internship/info.htm">学生实习信息</a> &gt;
                给${student.name}发放实习评价表
            </span>
            <hr/>
        </div>
        <div class="assessment-info">
            <form id="send-assessment-form" action="/student/assessment/send.htm" method="post">
                <input name="studentId" value="${student.id}" style="display: none"/>
                <div class="assessment-tips">实习导师指导意见：</div>
                <div class="assessment umeditor" id="tutor-remark" name="tutorRemark"></div>
                <div>
                    <span class="assessment-tips">实习导师指导建议成绩：</span>
                    <input class="assessment-score-input" name="tutorScore" id="tutor_score" type="text"/>
                </div>
                <div class="assessment-info-btn">
                    <a id="assessment-info-a-btn" href="javascript:void(0)" class="btn243">提交</a>
                </div>
            </form>
        </div>
    </div>
</div>
<#include "/footer.html" />
<input id="menu_id" value="inter-info" type="hidden"/>
</body>
</html>