<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#assign title="添加实习单位"/>
    <#include "/meta.html" />
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/js/lib/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="/static/css/company/add_company.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/company/add_company.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content">
    <#include "/menu.html" />
    <div class="right_content">
        <div class="crumb">
            <span class="">${menuTitle} <a href="/company/list.htm">实习单位列表</a> &gt; ${title}</span>
            <hr/>
        </div>
        <div class="add_company_panel">
            <ul class="info_title">
                <li>公司名：</li>
                <li>公司地址：</li>
                <li>联系方式：</li>
                <li>实习人数：</li>
                <li>实习管理办法：</li>
            </ul>
            <ul class="info_input">
                <form id="add_company_form" action="/company/add.htm" method="post">
                    <li><input id="companyName" name="companyName" type="text"></li>
                    <li><input id="companyAddress" name="companyAddress" type="text"></li>
                    <li><input id="phone" name="phone" type="text"></li>
                    <li><input id="internshipNumber" name="internshipNumber" type="text"></li>
                    <li class="umeditor">
                        <div name="internshipDesc" id="internshipDesc"></div>
                    </li>
                    <li>
                        <a class="btn243 submit_btn" id="add_company_btn" href="javascript:void(0)">添加</a>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</div>
<#include "/footer.html" />
<input id="menu_id" value="company" style="display: none"/>
</body>
</html>