@charset "UTF-8";
header .header ul li.center {
    letter-spacing: 0px !important;
}

header .header ul li.right .select_button {
    border: 1px solid #3f55a0;
    border-radius: 5px;
    color: #3f55a0;
    background-color: #FFF;
    font-size: 14px;
    padding: 4px;
}

.attend_list_panel {
    overflow: hidden;
}

.attend_list_panel .attend_list {
    overflow: hidden;
}

.attend_list_panel .attend_list .attend_node .attend_record {
    overflow: hidden;
}

.attend_list_panel .attend_list .attend_node {
    padding-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;
    height: 55px;
    background-color: #FFF;
    overflow: hidden;

}

.attend_list_panel .attend_list .attend_node .attend_record_show {
    float: left;
    overflow: hidden;
    transition-property: -webkit-transform;
    transform-origin: 0px 0px 0px;
    transform: translate(0px, 0px) scale(1) translateZ(0px);
    transition: width .3s;
    background-color: #FFF;
    width: 100%;
    margin-top: -65px;
    padding-top: 16px;
    height: 60px;
}

.attend_list_panel .attend_list .attend_node .attend_record_show .attend_record li {
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: 16px;
}

.attend_list_panel .attend_list .attend_node .attend_record_show .attend_message {
    overflow: hidden;
    margin-top: 0.3rem;
}

.attend_list_panel .attend_list .attend_node .attend_record_show .attend_message li {
    float: left;
    width: 33.3%;
    text-align: center;
    color: #888;
}

.attend_list_panel .attend_list .attend_node .operate {
    float: right;
    overflow: hidden;
    color: #fff;
    height: 60px;
    line-height: 60px;
    width: 70px;
    text-align: center;
    font-size: 18px;
    visibility: hidden;
}

.attend_list_panel .attend_list .attend_node .operate_delete {
    background-color: #f00;
}

.attend_list_panel .attend_list .attend_node .operate_examine {
    background-color: #3f55a0;
}

.scroll_panel {
    overflow: hidden;
    top: 3.2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    position: fixed;
    background: #FFF;
    transform: translate3d(100%, 0px, 0px);
}

.attend_examine_panel {
    overflow: hidden;
}

.attend_examine_panel .attend_status_list {
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #FFF;
    font-size: 13px;
}

.attend_examine_panel .attend_status_list ._node {
    overflow: hidden;
    height: 3rem;
    line-height: 3rem;
    margin-left: 1rem;
    border-bottom: 1px solid #ddd;
}

.attend_examine_panel .attend_status_list ._node ._tips {
    float: left;
    width: 80%;
}

.attend_examine_panel .attend_status_list ._node ._icon {
    color: #3f55a0;
    display: none;
    font-size: 16px;
}

.attend_examine_panel .attend_status_list ._last {
    border-bottom: none;
}

.attend_examine_panel .button_list {
    overflow: hidden;
    margin-top: 1rem;
}

.attend_examine_panel .button_list ._node {
    float: right;
}

.attend_examine_panel .button_list ._node button {
    width: 3rem;
    height: 1.5rem;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #FFF;
    margin-right: 1rem;
}

.attend_select_panel {
    overflow: hidden;
    top: 0;
    padding-top: 2rem;
    width: 85%;
    text-align: left;
}

.attend_select_panel .select_node {
    height: 3rem;
    line-height: 3rem;
    overflow: hidden;
}

.attend_select_panel .select_node input.button {
    width: 4.5rem;
    line-height: 1.5rem;
}

.attend_select_panel .select_node ._tips {
    width: 4rem;
    display: inline-block;
    text-align: right;
    margin-right: 0.5rem;
}

.attend_select_panel .select_node ._select {
    width: 9.6rem;
    height: 2rem;
}

.attend_select_panel .select_confirm {
    overflow: hidden;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5rem;
}

.attend_select_panel .select_confirm .button200 {
    width: 50%;
    height: 3rem;
    font-size: 14px;
    border-radius: 0;
    float: left;
}

.attend_select_panel .select_confirm .button_reset {
    background: #888;
}

.attend_select_date_picker.active {
    height: 285px;
}

.attend_select_date_picker {
    height: 0px;
    position: fixed;
    bottom: 0;
    transition: height .5s;
    background-color: #FFF;
    overflow: hidden;
}