<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#assign title="我的信息"/>
    <#include "/webApp/meta.html" />
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/webApp/student/studentInfo.js">
    </script>
    <!--coolie-->
    <link href="/static/css/webApp/user/userInfo.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/webApp/student/studentInfo.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
</head>
<body>
<#include "/webApp/header.html" />
<div class="student_info_panel">
    <ul id="studentInfoList" class="user_list">
        <li class="_node">
            <p class="_tips">姓名</p>
            <p class="_content">${student.name}</p>
        </li>
        <li id="studentSexNode" sexCode="${student.userInfo.sex.code}" class="_node">
            <p class="_tips">性别</p>
            <p class="_content">${student.userInfo.sex.desc}</p>
            <i class="_icon">&gt;</i>
        </li>
        <li class="_node">
            <p class="_tips">学号</p>
            <p class="_content">${student.studentNumber}</p>
        </li>
        <li id="studentGradeNode" class="_node">
            <p class="_tips">年级</p>
            <p class="_content">${student.grade}</p>
            <i class="_icon">&gt;</i>
        </li>
        <li item="studentUniversityNode" class="_node">
            <p class="_tips">学校</p>
            <p class="_content">${student.university.departmentName}</p>
            <#if !student.teacherId??>
                <i class="_icon">&gt;</i>
            </#if>
        </li>
        <li item="studentUniversityNode" class="_node">
            <p class="_tips">学院</p>
            <p class="_content">${student.college.departmentName}</p>
            <#if !student.teacherId??>
                <i class="_icon">&gt;</i>
            </#if>
        </li>
        <#if student.department??>
            <li item="studentUniversityNode" class="_node">
                <p class="_tips">系</p>
                <p class="_content">${student.department.departmentName}</p>
                <#if !student.teacherId??>
                    <i class="_icon">&gt;</i>
                </#if>
            </li>
        </#if>
        <#if student.speciality??>
            <li item="studentUniversityNode" class="_node">
                <p class="_tips">专业</p>
                <p class="_content">${student.speciality.departmentName}</p>
                <#if !student.teacherId??>
                    <i class="_icon">&gt;</i>
                </#if>
            </li>
        </#if>
        <li id="studentAcademicianNode" academicianCode="${student.academicianType.code}" class="_node">
            <p class="_tips">学位</p>
            <p class="_content">${student.academicianType.desc}</p>
            <i class="_icon">&gt;</i>
        </li>
        <li class="_node">
            <#if student.teacherId??>
                <a href="/webApp/teacher/detail/${student.teacher.desId}.htm?returnUrl=${locationURL}">
                    <p class="_tips">带队老师</p>
                    <p class="_content">${student.teacherName}</p>
                    <i class="_icon">&gt;</i>
                </a>
                <#else>
                    <p class="_tips">带队老师</p>
                    <p class="_content">-</p>
            </#if>
        </li>
        <li class="_node">
            <#if student.companyId??>
                <a href="/webApp/company/detail/${student.company.desId}.htm?returnUrl=${locationURL}">
                    <p class="_tips">实习单位</p>
                    <p class="_content">${student.companyName}</p>
                    <i class="_icon">&gt;</i>
                </a>
                <#else>
                    <p class="_tips">实习单位</p>
                    <p class="_content">-</p>
            </#if>
        </li>
        <li class="_node">
            <#if student.tutorId??>
                <a href="/webApp/tutor/detail/${student.tutor.desId}.htm?returnUrl=${locationURL}">
                    <p class="_tips">实习导师</p>
                    <p class="_content">${student.tutorName}</p>
                    <i class="_icon">&gt;</i>
                </a>
                <#else>
                    <p class="_tips">实习导师</p>
                    <p class="_content">-</p>
            </#if>
        </li>
        <li id="studentPhoneNode" class="_node">
            <p class="_tips">联系方式</p>
            <p class="_content">${student.userInfo.phone}</p>
            <i class="_icon">&gt;</i>
        </li>
        <li id="updateStudentExpectCompanyNode" class="_node">
            <p class="_tips">期望实习单位</p>
            <p class="_content">${student.expectCompany!'-'}</p>
            <i class="_icon">&gt;</i>
        </li>
        <li id="studentRemarkNode" class="_node _last">
            <p class="_tips">实习备注</p>
            <p class="_content">${student.remark!'-'}</p>
            <i class="_icon">&gt;</i>
        </li>
    </ul>
    <ul class="user_list logout">
        <li class="_node  _last">
            <a href="/login/logout.htm">退出登录</a>
        </li>
    </ul>
</div>
<#include "/webApp/footer.html" />
<div id="updateStudentSexPanel" class="student_update_panel">
    <ul class="user_list">
        <#list sexes as s>
            <li class="_node <#if s_index == sexes?size - 1>_last</#if>" sexCode="${s.code}">
                <p class="_tips">${s.desc}</p>
                <i class="_icon">&#10003;</i>
            </li>
        </#list>
    </ul>
    <ul class="button_list">
        <li class="_node">
            <button item="cancelBtn">取消</button>
        </li>
    </ul>
</div>
<div id="updateStudentGradePanel" class="student_update_panel">
    <input id="updateStudentGradeInput" type="text" value="${student.grade}"/>
    <ul class="button_list">
        <li class="_node">
            <button item="saveBtn">保存</button>
        </li>
        <li class="_node">
            <button item="cancelBtn">取消</button>
        </li>
    </ul>
</div>
<div id="updateStudentUniversityPanel" class="student_update_panel">
    <select name="universityDesId"></select>
    <select name="collegeDesId"></select>
    <select name="departmentDesId"></select>
    <select name="specialityDesId"></select>
    <ul class="button_list">
        <li class="_node">
            <button item="saveBtn">保存</button>
        </li>
        <li class="_node">
            <button item="cancelBtn">取消</button>
        </li>
    </ul>
</div>
<div id="updateStudentPhonePanel" class="student_update_panel">
    <input id="updateStudentPhoneInput" type="text" value="${student.userInfo.phone}"/>
    <ul class="button_list">
        <li class="_node">
            <button item="saveBtn">保存</button>
        </li>
        <li class="_node">
            <button item="cancelBtn">取消</button>
        </li>
    </ul>
</div>
<div id="updateStudentRemarkPanel" class="student_update_panel">
    <input id="updateStudentRemarkInput" type="text" value="${student.remark}"/>
    <ul class="button_list">
        <li class="_node">
            <button item="saveBtn">保存</button>
        </li>
        <li class="_node">
            <button item="cancelBtn">取消</button>
        </li>
    </ul>
</div>
<div id="updateStudentExpectCompanyPanel" class="student_update_panel">
    <select id="updateStudentExpectCompanySelect">
        <option value="-" disabled="disabled">请选择</option>
        <#list companies as c>
            <option>${c.companyName}</option>
        </#list>
    </select>
    <ul class="button_list">
        <li class="_node">
            <button item="saveBtn">保存</button>
        </li>
        <li class="_node">
            <button item="cancelBtn">取消</button>
        </li>
    </ul>
</div>
<div id="updateStudentAcademicianPanel" class="student_update_panel">
    <ul class="user_list">
        <#list academicianTypes as act>
            <li class="_node <#if act_index == academicianTypes?size - 1>_last</#if>" academicianCode="${act.code}">
                <p class="_tips">${act.desc}</p>
                <i class="_icon">&#10003;</i>
            </li>
        </#list>
    </ul>
    <ul class="button_list">
        <li class="_node">
            <button item="cancelBtn">取消</button>
        </li>
    </ul>
</div>
<input id="universityDesId" type="hidden" value="${student.universityDesId}"/>
<input id="collegeDesId" type="hidden" value="${student.collegeDesId}"/>
<input id="departmentDesId" type="hidden" value="${student.departmentDesId}"/>
<input id="specialityDesId" type="hidden" value="${student.specialityDesId}"/>
<input id="teacherId" type="hidden" value="${student.teacherId}"/>
<input id="show_header_left" type="hidden" value="false"/>
<input id="footerMenuId" type="hidden" value="me"/>
</body>
</html>
