<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="登录-实习管理系统-西南财经大学法学院-西南财经大学"/>
    <meta name="description" content="系统登录"/>
    <title>更新${company.companyName}信息-西南财经大学法学院实习管理系统</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/js/lib/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="/static/css/company/add_company.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/company/company_update.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content">
    <#include "/menu.html" />
    <div class="right_content">
        <div class="crumb">
            <span class="">
                ${menuTitle}
                <a href="/company/list.htm">实习单位列表</a>
                &gt; <a href="/company/detail/${company.desId}.htm">单位详情</a>
                &gt; 更新单位信息
            </span>
            <hr/>
        </div>
        <div class="add_company_panel">
            <ul class="info_title">
                <li>公司名：</li>
                <li>公司地址：</li>
                <li>联系方式：</li>
                <li>实习人数：</li>
                <li>实习管理办法：</li>
            </ul>
            <ul class="info_input">
                <form id="update_company_form">
                    <input type="hidden" name="desId" value="${company.desId}"/>
                    <li><input name="companyName" type="text" value="${company.companyName}"></li>
                    <li><input name="companyAddress" type="text" value="${company.companyAddress}"></li>
                    <li><input name="phone" type="text" value="${company.phone}"></li>
                    <li><input name="internshipNumber" type="text" value="${company.internshipNumber}"></li>
                    <li class="umeditor">
                        <div name="internshipDesc" id="internshipDesc">${company.internshipDesc}</div>
                    </li>
                    <li>
                        <a class="btn243 submit_btn" id="update_company_btn" href="javascript:void(0)">提交</a>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</div>
<input id="menu_id" value="company" style="display: none"/>
<#include "/footer.html" />
</body>
</html>