@charset "UTF-8";
.apply-for {
    width: 80%;
    margin: 10px auto 0 auto;
    overflow: hidden;
}

.apply-for ul {
    float: left;
}

.apply-for .title li {
    height: 27px;
    margin-top: 21px;
    line-height: 27px;
    text-align: right;
    margin-right: 8px;
}

.apply-for li {
    margin-top: 20px;
}

.apply-for input {
    width: 230px !important;
}

.apply-for select {
    width: 243px;
    border: none;
    height: 30px;
    background: #EBEBEB;
}

.apply-for .university_select select {
    width: 145px;
    display: none;
}

a.btn243 {
    margin-bottom: 20px;
}