@charset "UTF-8";
.student_info .operator {
    width: 95px;
    line-height: 20px;
}

.student_info .search .search_btn .delete_btn {
    letter-spacing: 0;
    width: 60px;
}

.student_info .search .search_btn .change_company_btn {
    letter-spacing: 0;
    width: 130px;
}

.student_info .search .search_btn .change_teacher_btn {
    letter-spacing: 0;
    width: 155px;
}