<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="APP密钥管理-实习管理系统-西南财经大学法学院-西南财经大学"/>
    <meta name="description" content="APP密钥管理"/>
    <title>APP密钥管理-西南财经大学法学院实习管理系统</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/css/rop/app_secret/appSecretAdd.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/rop/app_secret/appSecretAdd.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content">
    <#include "/menu.html" />
    <div class="right_content">
        <div class="crumb">
            <span class="">
                ${menuTitle}
                <a href="/app_secret/list.htm">APP密钥管理</a> &gt;
                添加APP密钥
            </span>
            <hr/>
        </div>
        <div class="add_app_secret_panel">
            <ul class="info_title">
                <li>AppId：</li>
                <li>App密钥：</li>
                <li>描述：</li>
                <li>状态：</li>
            </ul>
            <ul class="info_input">
                <form id="add_app_secret_form">
                    <li>
                        <input id="appId" name="appId" type="text" value="${defaultAppId}">
                        <a id="change_app_id_btn" class="change_btn" href="javascript:void(0)">换一个</a>
                    </li>
                    <li>
                        <input id="appSecret" name="appSecret" type="text" value="${defaultAppSecret}">
                        <a id="change_app_secret_btn"  class="change_btn" href="javascript:void(0)">换一个</a>
                    </li>
                    <li><input id="description" name="description" type="text" value=""></li>
                    <li>
                        <select name="statusCode">
                            <#list status as s>
                                <option value="${s.code}">${s.desc}</option>
                            </#list>
                        </select>
                    </li>
                    <li>
                        <a class="btn243 submit_btn" id="add_app_secret_btn" href="javascript:void(0)">添加</a>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</div>
<input id="menu_id" value="appSecret" style="display: none"/>
<#include "/footer.html" />
</body>