<!--coolie-->
<link href="/static/css/common.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/header.css" rel="stylesheet" type="text/css"/>
<!--/coolie-->
<div class="header">
    <ul class="title">
        <#if logInfo?? >
            <li>欢迎：<a href="/">${logInfo.name}</a></li>
            <li><a href="/login/logout.htm">退出</a></li>
            <li><a id="bulletin_head_tips" href="/forum/home.htm">最新公告</a></li>
        </#if>
        <#if !logInfo?? >
            <li><a href="/login/index.htm">登录</a></li>
        </#if>
    </ul>
    <div class="header_main">
        <div class="contentFull980 header_top">
            <img src="/static/images/logo.jpg"/>
            <span class="sys_name">法学院学生专业实习管理系统</span>
        </div>
    </div>
</div>