<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.swufe.lawschool.internship.app.mapper.AppSecretMapper">
    <resultMap id="BaseResultMap" type="cn.edu.swufe.lawschool.internship.app.model.AppSecret">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="app_secret" property="appSecret" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="public_key" property="publicKey" jdbcType="VARCHAR"/>
        <result column="private_key" property="privateKey" jdbcType="VARCHAR"/>
        <result column="status" property="status"
                typeHandler="cn.edu.swufe.lawschool.mybatis.MyBaseTypeHandler"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="BIGINT"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        app_id,app_secret,description,public_key,private_key,
        status,created_by,created_time,updated_by,updated_time
    </sql>

    <select id="select" resultMap="BaseResultMap"
            parameterType="cn.edu.swufe.lawschool.internship.app.model.AppSecret">
        select id,
        <include refid="Base_Column_List"/>
        from app_secret
        <where>
            <if test="id != null">
                and id = #{id, jdbcType=BIGINT}
            </if>
            <if test="appId != null">
                and app_id = #{appId, jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status, typeHandler=cn.edu.swufe.lawschool.mybatis.MyBaseTypeHandler}
            </if>
            <if test="description != null">
                and description like concat('%',#{description,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.edu.swufe.lawschool.internship.app.model.AppSecret">
        insert into app_secret(<include refid="Base_Column_List"/>)
        values(
        #{appId, jdbcType=VARCHAR},
        #{appSecret, jdbcType=VARCHAR},
        #{description, jdbcType=VARCHAR},
        #{publicKey, jdbcType=VARCHAR},
        #{privateKey, jdbcType=VARCHAR},
        #{status, typeHandler=cn.edu.swufe.lawschool.mybatis.MyBaseTypeHandler},
        #{createdBy,jdbcType=VARCHAR},
        #{createdTime,jdbcType=BIGINT},
        #{updatedBy,jdbcType=VARCHAR},
        #{updatedTime,jdbcType=BIGINT}
        )
    </insert>

    <update id="update" parameterType="cn.edu.swufe.lawschool.internship.app.model.AppSecret">
        update app_secret
        <set>
            <if test="appId != null">
                app_id = #{appId, jdbcType=VARCHAR},
            </if>
            <if test="appSecret != null">
                app_secret = #{appSecret, jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description, jdbcType=VARCHAR},
            </if>
            <if test="privateKey != null">
                private_key = #{privateKey, jdbcType=VARCHAR},
            </if>
            <if test="publicKey != null">
                public_key = #{publicKey, jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status, typeHandler=cn.edu.swufe.lawschool.mybatis.MyBaseTypeHandler},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy, jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime, jdbcType=BIGINT},
            </if>
        </set>
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from app_secret where id =  #{appSecretId,jdbcType=BIGINT}
    </delete>
</mapper>