@charset "UTF-8";
header .header ul li.center {
    letter-spacing: 0px !important;
}

.weekly_journal_detail_panel {
    overflow: hidden;
}

.weekly_journal_detail_panel .weekly_journal_head {
    overflow: hidden;
}

.weekly_journal_detail_panel .weekly_journal_head ._head_table {
    overflow: hidden;
    line-height: 20px;
    margin: 1rem 0 0 1rem;
}

.weekly_journal_detail_panel .weekly_journal_head ._head_tips {
    text-align: right;
}

.weekly_journal_detail_panel .weekly_journal_head ._head_content {
    text-align: left;
}

.weekly_journal_detail_panel .weekly_journal_detail {
    overflow: hidden;

}

.weekly_journal_detail_panel .weekly_journal_detail .weekly_journal_tips {
    margin: 1rem;
    font-weight: bold;
}

.weekly_journal_detail_panel .weekly_journal_detail .weekly_journal_content {
    overflow: hidden;
    border: 1px solid #aaa;
    margin: 5px;
    padding: 1rem 0 1rem 5px;
}

.weekly_journal_detail_panel .weekly_journal_detail .attend_table {
    width: 90%;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.weekly_journal_detail_panel .weekly_journal_detail .attend_table th, .weekly_journal_detail_panel .weekly_journal_detail .attend_table td {
    width: 30%;
}

.weekly_journal_detail_panel .submit_weekly_journal_btn {
    overflow: hidden;
    margin: 1rem 0 1rem 0;
}

.weekly_journal_detail_panel .submit_weekly_journal_btn a.button {
    width: 60%;
    margin: auto;
    height: 2rem;
    line-height: 2rem;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 8px;
}