<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta content="telephone=no" name="format-detection"/>
<!--<meta content="minimal-ui,width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"-->
<!--name="viewport"/>-->
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<!--<meta content="app-id=427457043" name="apple-itunes-app"/>-->
<meta name="keywords" content="${title}-实习管理系统-西南财经大学法学院-西南财经大学"/>
<meta name="description" content="${title}"/>
<title>${title}-西南财经大学法学院实习管理系统</title>
<link rel="shortcut icon" href="/static/images/favicon.ico"/>