@charset "UTF-8";

.change-password {
    overflow: hidden;
    width: 500px;
    margin: 35px auto 0 auto;
}

.change-password ul {
    float: left;
    line-height: 45px;
}

.change-password ul li input {
    margin-top: 9px;
    margin-bottom: 9px;
}

.change-password .change_btn {
    margin-left: -59px;
}

.change-password .change_btn a {
    width: 222px;
}