@charset "UTF-8";

.login_panel {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 4rem;
}

.login_panel ul li {
    line-height: 4rem;
}

.login_panel input {
    width: 70% !important;
    height: 2rem !important;
    border-radius: 8px;
    padding-left: 36px !important;
}

.login_panel ul li #userName {
    background: url("/static/images/login/user_name_land.png") 10px 10px no-repeat;
}

.login_panel ul li #password {
    background: url("/static/images/login/password_land.png") 10px 10px no-repeat;
}

.login_panel ul li .button200 {
    width: 84% !important;
    height: 2.5rem !important;
}

