@charset "UTF-8";
.user_list {
    overflow: hidden;
}

.user_list hr {
    border: none;
    border-bottom: 1px solid #e4e4e4;
    margin: 0;
}

.user_list .user_node {
    background-color: #FFF;
    overflow: hidden;
    height: 5rem;
}

.user_list .user_node .operate {
    float: right;
    overflow: hidden;
    color: #fff;
    height: 5rem;
    text-align: center;
    font-size: 12px;
    visibility: hidden;
}

.user_list .user_node .operate .operate_list {
    overflow: hidden;
    height: 100%;
}

.user_list .user_node .operate .operate_list li {
    float: right;
    width: 4rem;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.user_list .user_node .operate .operate_list li.company {
    background-color: #865DA0;
}

.user_list .user_node .operate .operate_list .assign {
    width: 2.3rem;
    line-height: 1rem;
    margin: auto;
    padding-top: 1.5rem;
}

.user_list .user_node .operate .operate_list li.teacher {
    background-color: #3f55a0;
}

.user_list .user_node .operate .operate_list li.company {
    background-color: #865DA0;
}

.user_list .user_node .operate .operate_list li.tutor {
    background-color: #a06577;
}

.user_list .user_node .operate .operate_list li.delete {
    background-color: #ff0000;
    width: 4rem;
    line-height: 5rem;
    font-size: 14px;
}

.user_list .user_node .user_show {
    float: left;
    overflow: hidden;
    transition-property: -webkit-transform;
    transform-origin: 0px 0px 0px;
    transform: translate(0px, 0px) scale(1) translateZ(0px);
    transition: width .3s;
    background-color: #FFF;
    width: 100%;
    padding-top: 0.5rem;
    height: 4.5rem;
    position: absolute;
}

.user_list .user_node .user_show .user_info {
    overflow: hidden;
}

.user_list .user_node .user_show .user_info li {
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: 16px;
}

.user_list .user_node .user_show .user_info li i {
    font-style: normal;
    padding-left: 5px;
    color: #666;
}

.user_list .user_node .user_show .user_message {
    overflow: hidden;
    margin-top: 5px;
}

.user_list .user_node .user_show .user_message li {
    float: left;
    width: 25%;
    color: #888;
}

.user_list .user_node .user_show .user_message li._left {
    text-align: right;
}

.user_list .user_node .user_show .user_message li._right {
    text-align: left;
}