<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.swufe.lawschool.internship.company.mapper.CompanyMapper">
    <resultMap id="BaseResultMap" type="cn.edu.swufe.lawschool.internship.company.model.Company">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="company_address" property="companyAddress" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="internship_number" property="internshipNumber" jdbcType="INTEGER"/>
        <result column="student_number" property="studentNumber" jdbcType="INTEGER"/>
        <result column="internship_desc" property="internshipDesc" jdbcType="LONGVARCHAR"/>
        <result column="status" property="status" typeHandler="cn.edu.swufe.lawschool.mybatis.MyBaseTypeHandler"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="BIGINT"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        company_name,company_address,phone,internship_number,student_number,internship_desc,status,created_by,created_time,updated_by,updated_time
    </sql>

    <select id="select" resultMap="BaseResultMap"
            parameterType="cn.edu.swufe.lawschool.internship.company.model.Company">
        select id ,
        <include refid="Base_Column_List"/>
        from company
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="companyName != null">
                and company_name like concat('%',#{companyName,jdbcType=VARCHAR},'%')
            </if>
            <if test="companyAddress != null">
                and company_address like concat('%',#{companyAddress,jdbcType=VARCHAR},'%')
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="internshipNumber != null">
                and internship_number = #{internshipNumber,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and status = #{status,typeHandler=cn.edu.swufe.lawschool.mybatis.MyBaseTypeHandler}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.edu.swufe.lawschool.internship.company.model.Company">
        insert into company(<include refid="Base_Column_List"/>)
        values(
        #{companyName,jdbcType=VARCHAR},
        #{companyAddress,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR},
        #{internshipNumber,jdbcType=INTEGER},
        #{studentNumber,jdbcType=INTEGER},
        #{internshipDesc,jdbcType=LONGVARCHAR},
        #{status,typeHandler=cn.edu.swufe.lawschool.mybatis.MyBaseTypeHandler},
        #{createdBy,jdbcType=VARCHAR},
        #{createdTime,jdbcType=BIGINT},
        #{updatedBy,jdbcType=VARCHAR},
        #{updatedTime,jdbcType=BIGINT}
        )
    </insert>

    <update id="update" parameterType="cn.edu.swufe.lawschool.internship.company.model.Company">
        update company
        <set>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyAddress != null">
                company_address = #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="internshipNumber != null">
                internship_number = #{internshipNumber,jdbcType=INTEGER},
            </if>
            <if test="studentNumber != null">
                student_number = #{studentNumber,jdbcType=INTEGER},
            </if>
            <if test="internshipDesc != null">
                internship_desc = #{internshipDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,typeHandler=cn.edu.swufe.lawschool.mybatis.MyBaseTypeHandler},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=BIGINT},
            </if>
        </set>
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from company where id =  #{companyId,jdbcType=BIGINT}
    </delete>
</mapper>
