<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="实习管理系统-西南财经大学法学院-西南财经大学"/>
    <meta name="description" content="实习管理系统-西南财经大学法学院-西南财经大学"/>
    <title>实习考评表-西南财经大学法学院实习管理系统</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/student/assessment/assessmentDetail.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/student/assessment/assessmentDetail.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content">
    <#include "/menu.html" />
    <div class="right_content">
        <div class="crumb">
            <span class="">${menuTitle}
                <a href="/student/internship/info.htm">学生实习信息</a> &gt;
                ${assessment.studentName}的实习考评表
            </span>
            <hr/>
        </div>
        <div class="assessment-info">
            <div class="assessment-title">实习单位考评表</div>
            <div class="print-div">
                <a id="print" class="print" href="javascript:void(0)"></a>
            </div>
            <div class="assessment-content">
                <div class="tutor-remark">
                    <div class="tutor-remark-title">实习单位指导教师考评意见：</div>
                    <div class="tutor-remark-content umeditor">${assessment.tutorRemark}</div>
                    <div class="tutor-sign">建议实习成绩：${assessment.tutorScoreStr}分</div>
                    <div class="tutor-sign">实习单位教师签名：${assessment.tutorName}</div>
                    <div class="tutor-remark-time">
                        ${assessment.tutorRemarkTime?number_to_datetime?string("yyyy年MM月dd日")}
                    </div>
                </div>
                <div class="company-remark">
                    <div class="company-remark-title">实习单位意见：</div>
                    <div class="company-remark-content umeditor">${assessment.companyRemark}</div>
                    <div class="company-sign">实习单位（盖章）：${assessment.companyName}</div>
                    <div class="company-remark-time">
                        ${assessment.companyRemarkTime?number_to_datetime?string("yyyy年MM月dd日")}
                    </div>
                </div>
            </div>
            <div class="teacher-sign">学校指导教师签名：${assessment.teacherName!''}</div>
        </div>
        <#if canReviewAssessment && logInfo.tutor && !assessment.companyReviewerId??>
            <div class="assessment-btn">
                <a href="/student/assessment/company_review/${assessment.desId}.htm" class="btn243">实习单位点评</a>
            </div>
        </#if>
        <#if canReviewAssessment && logInfo.teacher  && !assessment.teacherConfirmUserId??>
            <div class="assessment-btn">
                <a href="javascript:void(0)" id="teacher_confirm_btn" class="btn243">带队老师确认</a>
            </div>
        </#if>
    </div>
</div>
<#include "/footer.html" />
<input id="desId" value="${assessment.desId}" type="hidden"/>
<input id="menu_id" value="inter-info" type="hidden"/>
</body>
</html>