@charset "UTF-8";
header .header ul li.center {
    letter-spacing: 0px !important;
}

._404panel {
    text-align: center;
    overflow: hidden;
    margin-top: 6rem;
}

._404panel i {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(/static/images/webApp/error_ic.png) no-repeat;
    background-size: 20px 20px;
}

._404panel span {
    font-size: 13px;
}

._404panel .go_home {
    border: 1px solid #ccc;
    overflow: hidden;
    width: 6rem;
    height: 1.8rem;
    line-height: 1.8rem;
    margin: 1rem auto 0 auto;
}

._404panel .go_home a {
    color: #3f55a0;
}