<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="登录-实习管理系统-西南财经大学法学院-西南财经大学"/>
    <meta name="description" content="系统登录"/>
    <title>消息列表-西南财经大学法学院实习管理系统</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/css/examine/examine_list.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/examine/examine_list.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content">
    <#include "/menu.html" />
    <div class="right_content">
        <div class="crumb">
            <span class="">${menuTitle} 消息列表</span>
            <hr/>
        </div>
        <div class="user_info">
            <div class="search">
                <form id="search_form">
                    <table>
                        <tr>
                            <td>学生:</td>
                            <td><input name="studentName" type="text"/></td>
                            <td>类型:</td>
                            <td>
                                <select name="flowTypeCode">
                                    <option value="">全部</option>
                                    <#list flowTypes as ft>
                                        <option value="${ft.code}">${ft.desc}</option>
                                    </#list>
                                </select>
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="search_btn">
                    <a id="search_action" class="btn45" href="javascript:void(0)">搜索</a>
                </div>
            </div>
            <table class="content_table">
                <thead>
                <tr>
                    <th>学生</th>
                    <th>类型</th>
                    <th>提交时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="u_data"></tbody>
            </table>
            <div class="page_list"></div>
        </div>
    </div>
</div>
<input id="menu_id" value="examine" style="display: none"/>
<#include "/footer.html" />
</body>
</html>