<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#assign title="500"/>
    <#include "/meta.html" />
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/css/505.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
</head>
<body>
<#include "/header.html" />
<div class="login_content contentFull980">
    <div class="error_message">
        <#if error_message??>
            ${error_message!''}
            <#else>
                哎呀！一不小心出了个错误
        </#if>
    </div>
</div>
<#include "/footer.html" />
</body>
</html>