@charset "UTF-8";

.add_app_secret_panel {
    overflow: hidden;
    margin: 20px 0 10px 30px;
}

.add_app_secret_panel .info_title {
    text-align: right;
    float: left;
    line-height: 40px;
}

.add_app_secret_panel .info_input {
    float: left;
    line-height: 40px;
}

.add_app_secret_panel .info_input input {
    width: 300px;
}

.add_app_secret_panel .info_input select {
    width: 312px;
}

.add_app_secret_panel .submit_btn {
    margin-top: 20px;
}

.add_app_secret_panel .change_btn {
    color: #3f55a0;
    margin-left: 10px;
}