<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#assign title="首页"/>
    <#include "/webApp/meta.html" />
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/webApp/student/studentMain.js">
    </script>
    <!--coolie-->
    <link href="/static/css/webApp/student/studentMain.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
</head>
<body>
<#include "/webApp/header.html" />
<div class="student_main_panel">
    <div class="student_main_attend_leave">
        <div class="_node _attend">
            <button id="attendButton" class="button">签到</button>
        </div>
        <div class="_node _leave">
            <button id="leaveButton" class="button">请假</button>
        </div>
    </div>
    <ul class="student_main_list">
        <li class="_node ">
            <a href="/webApp/student/attend/list.htm?returnUrl=${locationURL}">
                签到记录
                <i class="_icon">&gt;</i>
            </a>
        </li>
        <li class="_node _last">
            <a href="/webApp/student/leave/list.htm?returnUrl=${locationURL}">
                请假记录
                <i class="_icon">&gt;</i>
            </a>
        </li>
    </ul>
    <ul class="student_main_list">
        <li class="_node">
            <a href="/webApp/student/diaryJournal/list.htm?returnUrl=${locationURL}">
                实习日记
                <i class="_icon">&gt;</i>
            </a>
        </li>
        <li class="_node ">
            <a href="/webApp/student/weeklyJournal/list.htm?returnUrl=${locationURL}">
                实习周记
                <i class="_icon">&gt;</i>
            </a>
        </li>
        <li class="_node _last">
            <a href="/webApp/student/internship/info.htm?returnUrl=${locationURL}">
                我的实习信息
                <i class="_icon">&gt;</i>
            </a>
        </li>
    </ul>
</div>
<#include "/webApp/footer.html" />
<input id="footerMenuId" type="hidden" value="home"/>
<input id="show_header_left" type="hidden" value="false"/>
</body>
</html>
