<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="登录-实习管理系统-西南财经大学法学院-西南财经大学"/>
    <meta name="description" content="系统登录"/>
    <title>更新用户信息-西南财经大学法学院实习管理系统</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/css/user/update.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/tutor/tutorUpdate.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content">
    <#include "/menu.html" />
    <div class="right_content">
        <div class="crumb">
            <span class="">
                ${menuTitle}
                <a href="/tutor/my_info.htm">我的信息</a>  &gt;
                更新我的信息
            </span>
            <hr/>
        </div>
        <div class="update-panel">
            <form id="update_form">
                <ul class="tips">
                    <li>用户名：</li>
                    <li>姓名：</li>
                    <li>角色：</li>
                    <li>用户类型：</li>
                    <li>联系方式：</li>
                    <li>性别：</li>
                    <li>部门(科室)：</li>
                </ul>
                <ul class="value">
                    <li>${tutor.userInfo.userName}</li>
                    <li>${tutor.userInfo.name}</li>
                    <li>${tutor.tutorType.desc}</li>
                    <li>${tutor.userInfo.userType.desc}</li>
                    <li><input name="phone" type="text" value="${tutor.userInfo.phone}"/></li>
                    <li>
                        <select name="sexCode">
                            <#list sexes as sx>
                                <option
                                <#if sx.code==tutor.userInfo.sex.code >selected</#if>
                                value="${sx.code}">${sx.desc}</option>
                            </#list>
                        </select>
                    </li>
                    <li><input name="department" type="text" value="${tutor.department}"></li>
                </ul>
                <div class="update_div">
                    <a id="update_btn" class="btn243" href="javascript:void(0)">提交</a>
                </div>
            </form>
        </div>
    </div>
</div>
<input id="menu_id" value="myInfo" style="display: none"/>
<#include "/footer.html" />
</body>
</html>