<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="登录-实习管理系统-西南财经大学法学院-西南财经大学"/>
    <meta name="description" content="系统登录"/>
    <title>学生签到-西南财经大学法学院实习管理系统</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/css/student/attend.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/student/attend.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content">
    <#include "/menu.html" />
    <div class="right_content">
        <div class="crumb">
            <span class="">${menuTitle} 签到信息</span>
            <hr/>
        </div>
        <#if logInfo.student>
            <div class="student-attend">
                <ul>
                    <li class="today-attend">
                        <span class="title">今日签到：</span>
                        <a class="btn45" href="javascript:void(0)" timeInterval="${am.code}">上午</a>
                        <a class="btn45" href="javascript:void(0)" timeInterval="${pm.code}">下午</a>
                    </li>
                    <li class="history-attend">
                        <span class="title">补充签到：</span>
                        <span class="choice-date">选择日期：</span><input id="attendDay" type="text" readonly="readonly"/>
                        <a class="btn45" href="javascript:void(0)" timeInterval="${am.code}">补签上午</a>
                        <a class="btn45" href="javascript:void(0)" timeInterval="${pm.code}">补签下午</a>
                    </li>
                </ul>
            </div>
        </#if>
        <div class="search">
            <form id="search_form">
                <input name="desId" value="${attendRecordParam.desId!''}" style="display: none"/>
                <table>
                    <tr>
                        <td>学生学号:</td>
                        <td><input name="student.studentNumber" type="text" value="${student.studentNumber}"/></td>
                        <td>学生姓名:</td>
                        <td><input name="student.name" type="text" value="${student.name}"/></td>
                        <td>时间:</td>
                        <td>
                            <input name="attendBeginDayStr" type="text" readonly="readonly"
                                   value="${attendBeginDayStr}"/>
                            －
                            <input name="attendEndDayStr" type="text" readonly="readonly" value="${attendEndDayStr}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>状态:</td>
                        <td>
                            <select name="attendStatusCode">
                                <option value="">全部</option>
                                <#list selectAttendStatus as a>
                                    <option
                                    <#if a.code == attendStatusCode>selected="selected"</#if>
                                    value="${a.code}">
                                    ${a.desc}
                                    </option>
                                </#list>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="search_btn">
                <a id="search_action" class="btn45" href="javascript:void(0)">搜索</a>
            </div>
        </div>
        <div class="attend_info">
            <table class="content_table">
                <thead>
                <tr>
                    <th>学生姓名</th>
                    <th>学生学号</th>
                    <th>签到时间</th>
                    <th>签到时段</th>
                    <th>考勤状态</th>
                    <th>审核者</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="u_data"></tbody>
            </table>
            <div class="page_list"></div>
        </div>
    </div>
</div>
<div id="examine_dialog" style="display: none">
    <div class="examine_panel">
        <div class="notice"></div>
        <span>审核结果:</span>
        <select id="attendStatusSelect">
            <#list attendStatus as a>
                <option value="${a.code}">${a.desc}</option>
            </#list>
        </select>
    </div>
</div>
<#include "/footer.html" />
<input id="userId" value="${logInfo.id}" style="display: none"/>
<input id="is_tutor" value="${logInfo.tutor}" style="display: none"/>
<input id="is_student" value="${logInfo.student}" style="display: none"/>
<input id="menu_id" value="attend" style="display: none"/>
</body>
</html>