<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="登录-实习管理系统-西南财经大学法学院-西南财经大学"/>
    <meta name="description" content="系统登录"/>
    <title>学生请假-西南财经大学法学院实习管理系统</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/css/student/leave.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/student/leave.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content">
    <#include "/menu.html" />
    <div class="right_content">
        <div class="crumb">
            <span class="">${menuTitle} 请假信息</span>
            <hr/>
        </div>
        <#if logInfo.student>
            <ul class="student-leave">
                <li class="leave-line">
                    <span class="title">申请请假：</span>
                    <input id="beginDay" readonly="readonly"/>
                    <select id="beginTime">
                        <#list timeInterval as ti>
                            <option value="${ti.code}">${ti.desc}</option>
                        </#list>
                    </select>
                    <span class="split">~</span>
                    <input id="endDay" readonly="readonly"/>
                    <select id="endTime">
                        <#list timeInterval as ti>
                            <option value="${ti.code}">${ti.desc}</option>
                        </#list>
                    </select>
                </li>
                <li class="leave-line">
                    <span class="title">请假类型：</span>
                    <select id="leaveType">
                        <#list leaveTypes as type>
                            <option value="${type.code}">${type.desc}</option>
                        </#list>
                    </select>
                    <span class="title">请假原因：</span>
                    <input id="reason" type="text"/>
                    <a id="student-leave-btn" class="btn45" href="javascript:void(0)">提交</a>
                </li>
            </ul>
        </#if>
        <div class="leave_info">
            <div class="search">
                <form id="search_form">
                    <table>
                        <tr>
                            <td class="_tips">学生姓名:</td>
                            <td><input name="name" type="text" value="${(student.name)!''}"/></td>
                            <td class="_tips">学生学号:</td>
                            <td><input name="studentNumber" type="text"
                                       value="${(student.studentNumber)!''}"/></td>
                            <td class="_tips">请假类型:</td>
                            <td>
                                <select name="leaveTypeCode">
                                    <option value="">全部</option>
                                    <#list leaveTypes as lts>
                                        <option value="${lts.code}">${lts.desc}</option>
                                    </#list>
                                </select>
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="search_btn">
                    <a id="search_action" class="btn45" href="javascript:void(0)">搜索</a>
                </div>
            </div>
            <table class="content_table">
                <thead>
                <tr>
                    <th>学生姓名</th>
                    <th>学生学号</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>请假类型</th>
                    <th>请假原因</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="u_data"></tbody>
            </table>
            <div class="page_list"></div>
        </div>
    </div>
</div>
<div id="examine_dialog" style="display: none">
</div>
<#include "/footer.html" />
<input id="isStudent" value="${logInfo.student}" type="hidden"/>
<input id="menu_id" value="leave" type="hidden"/>
</body>
</html>