@charset "UTF-8";
.forum_content {
    min-height: 362px;
    margin-bottom: 20px;
    overflow: hidden;
}

.bulletin_panel {
    margin-top: 20px;
    overflow: hidden;
}

.bulletin_panel .title {
    border-top: 1px solid #c3d5e3 !important;
}

.forum_panel {
    overflow: hidden;
}

.forum_panel .title {
    background-color: #ebf1f5;
    border: 1px solid #c3d5e3;
    border-top: none;
    line-height: 32px;
    color: #326699;
    font-size: 16px;
    padding-left: 10px;
    font-weight: 800;

}

.forum_panel .forum_list {
    border: 1px solid #c3d5e3;
    border-top: none;
    overflow: hidden;
}

.forum_panel .forum_list ul li {
    line-height: 20px;
    padding-left: 48px;
    background: url('/static/images/forum/list.png') no-repeat 7px 12px;
    overflow: hidden;
}

.forum_panel .forum_list ul li ._bulletin_title {
    font-weight: 500;
    padding-top: 10px;
}

.forum_panel .forum_list ul li ._iss_time {
    color: #888;
}

.forum_panel .forum_list ul li a {
    color: #000;
}

.forum_panel .forum_list ul li hr {
    border: 1px dashed #ccc;
    border-bottom: none;
    margin-left: -40px;
    margin-right: 10px;
}