<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#assign title="公告 ${bulletinInfo.title}"/>
    <#include "/meta.html" />
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <!--coolie-->
    <link href="/static/css/bulletin/bulletin_detail.css" rel="stylesheet" type="text/css"/>
    <!--/coolie-->
    <script coolie src="/static/js/lib/coolie.min.js"
            data-config="/static/js/coolie-config.js"
            data-main="app/menu.js">
    </script>
</head>
<body>
<#include "/header.html" />
<div class="content contentFull980">
    <div class="bulletin_panel">
        <div class="bulletin_title">
            ${bulletinInfo.title}
        </div>
        <div class="bulletin_tag">
            <span>发布者：${bulletinInfo.createdBy}</span>
            <span>发布时间：${bulletinInfo.createdTime?number_to_datetime?string("yyyy-MM-dd")}</span>
        </div>
        <div class="bulletin_content umeditor">
            ${bulletinInfo.content}
        </div>
    </div>
</div>
<#include "/footer.html" />
</body>
</html>